<div class="col-md-7" ng-show="!hasAdminRole">
  <ul class="nav nav-tabs" ng-controller="TabsController">
    <li ng-class="{active : isCurrentTab(0)}">
      <a href="" ng-click="setActiveTab(0)">All Comics</a>
      <div class="panel" ng-show="isCurrentTab(0)">
        <div class="row">
          <div class="col-xs-4 col-md-4" ng-repeat="comic in comics | filter:searchText">
            <div class="thumbnail" >
              <img src="{{comic.images[0]}}">
              <div class="caption">
                <a href="#" ng-click="showComic(comic)">{{comic.title}}</a>
                <h6>{{comic.genre}}</h6>
                <h6>{{comic.value | currency:"USD$"}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li ng-class="{active : isCurrentTab(1)}">
      <a href="" ng-click="setActiveTab(1)">By Genre</a>
      <div class="panel" ng-show="isCurrentTab(1)">
        <div class="row">
          <div class="col-xs-4 col-md-4" ng-repeat="comic in comics | orderBy:'-genre'">
            <div class="thumbnail">
              <img src="{{comic.images[0]}}">
              <div class="caption">
                <a href="#" ng-click="showComic(comic)">{{comic.title}}</a>
                <h6>{{comic.genre}}</h6>
                <h6>{{comic.value | currency:"USD$"}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li ng-class="{active : isCurrentTab(2)}">
      <a href="" ng-click="setActiveTab(2)">By Character</a>
      <div class="panel" ng-show="isCurrentTab(2)">
        <div class="row">
          <div class="col-xs-4 col-md-4" ng-repeat="comic in comics | orderBy:'characters'">
            <div class="thumbnail">
              <img src="{{comic.images[0]}}">
              <div class="caption">
                <h6>{{comic.characters.join(', ')}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
