<div class="col-md-2 ratings">
  <div ng-init="getComics()"></div>
  <div class="row" ng-repeat="comic in comics | orderBy:'-views' | limitTo:3">
      <div class="thumbnail">
        <img src="{{comic.images[0]}}" alt="...">
        <div class="caption">
          <a href="#"><h5>{{comic.title}}</h5></a>
          <h5>Views: {{comic.views}}</h5>
        </div>
      </div>
  </div>
</div>
