<div class="modal-content">
  <div class="modal-body">
    <div class="thumbnail user-comics">
      <img src="{{comic.images[0]}}">
      <div class="caption user-comics">
        <strong>Title: </strong><h4>{{comic.title}}</h4>
        <strong>Description: </strong> <p>{{comic.description}}</p>
        <strong>Date: </strong> <h6>{{comic.startDate | date}}</h6>
        <strong>Value: </strong> <h6>{{comic.value | currency:"USD$"}}</h6>
      </div>
      <a ng-click="addComicToUser()" ng-confirm-click="Do you want to purchase this comic ?">Add to My Comics <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      <br/>
      <a>Rate <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> </a>
    </div>
  </div>
  <h5>Press Esc to close.</h5>
</div>
