<h2>Sign In</h2>
<form name="form" ng-submit="addUser()">
  <div class="form-group" ng-class="">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" class="form-control" ng-model="username" ng-minlength="4" required />
      <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
      <span ng-show="form.username.$dirty && form.username.$error.minlength" class="help-block">Username too short</span>
  </div>
  <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="password" ng-minlength="7" ng-pattern="/^[a-zA-Z0-9]*$/" required />
      <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
      <span ng-show="form.password.$dirty && form.password.$error.minlength" class="help-block">password too short</span>
      <span ng-show="form.password.$dirty && form.password.$error.pattern" class="help-block">Only Alphanumeric characters</span>
  </div>
  <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="form-control" ng-model="email" required />
      <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
  </div>
  <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" id="firstName" class="form-control" ng-model="firstName" required />
      <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First Name is required</span>
  </div>
  <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" id="lastName" class="form-control" ng-model="lastName" required />
      <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last Name is required</span>
  </div>
  <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Sign in</button>
  </div>
</form>
