<div class="row" ng-show="enableComics">
    <div class="thumbnail" ng-repeat="comic in Mycomics">
      <div class="caption">
        <img src="{{comic.images[0]}}">
        <h4>{{comic.title}}</h4>
        <strong>Value: </strong> <h6>{{comic.value | currency:"USD$"}}</h6>
      </div>
    </div>
</div>
