<div id="wrapper" class="row">
  <div class="row" ng-show="!isSessionStarted()">
    <div class="col-md-4 acces-control" >
      <ul class="nav nav-pills" ng-controller="TabsController">
        <li ng-class="{active : isCurrentTab(0)}">
          <a href="" ng-click="setActiveTab(0)">log in</a>
          <div class="panel" ng-show="isCurrentTab(0)">
            <log-in></log-in>
          </div>
        </li>
        <li ng-class="{active : isCurrentTab(1)}">
          <a href="" ng-click="setActiveTab(1)">sign in</a>
          <div class="panel sign-in" ng-show="isCurrentTab(1)">
            <sign-in></sign-in>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <span id="sl_play" class="sl_command">&nbsp;</span>
    	<span id="sl_pause" class="sl_command">&nbsp;</span>
    	<span id="sl_i1" class="sl_command sl_i">&nbsp;</span>
    	<span id="sl_i2" class="sl_command sl_i">&nbsp;</span>
    	<span id="sl_i3" class="sl_command sl_i">&nbsp;</span>
    	<span id="sl_i4" class="sl_command sl_i">&nbsp;</span>

    	<!--<h1><span class="cursive">Juizy</span> slideshow <span>Full CSS3/HTML5 slideshow</span></h1>
    	<h2 class="sread">The slideshow</h2>-->

    	<section id="slideshow">

    		<a class="play_commands pause" href="#sl_pause" title="Maintain paused">Pause</a>
    		<a class="play_commands play" href="#sl_play" title="Play the animation">Play</a>

    		<div class="container">
    			<div class="c_slider"></div>
    			<div class="slider">
    				<figure>
    					<img src="assets/img/dummy-640x310-1.jpg" alt="" width="640" height="310" />
    					<figcaption>The mirror of soul</figcaption>
    				</figure><!--
    				--><figure>
    					<img src="assets/img/dummy-640x310-2.jpg" alt="" width="640" height="310" />
    					<figcaption>Let's cross that bridge when we come to it</figcaption>
    				</figure><!--
    				--><figure>
    					<img src="assets/img/dummy-640x310-3.jpg" alt="" width="640" height="310" />
    					<figcaption>Sushi<em>(do)</em> time</figcaption>
    				</figure><!--
    				--><figure>
    					<img src="assets/img/dummy-640x310-4.jpg" alt="" width="640" height="310" />
    					<figcaption>Waking Life</figcaption>
    				</figure>
    			</div>
    		</div>

    		<span id="timeline"></span>

    	</section>
    </div>
  </div>
</div>
