<user-session></user-session>
<div id="wrapper" class="row" ng-show="isSessionStarted()">
  <div class="col-md-2" id="admin-opts" ng-hide="!hasAdminRole">
    <div class="list-group">
      <a href="#" class="list-group-item">
        Manage users <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      </a>
      <a href="#" class="list-group-item">
        Manage Site <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <div class="col-md-2" id="user-opts" ng-hide="hasAdminRole">
    <div class="list-group">
      <a href="#" class="list-group-item" ng-click="toggleSearch()">
        Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </a>
      <a href="#" class="list-group-item" ng-click="toggleProfile()">
        My Profile <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </a>
      <a href="#" class="list-group-item" ng-click="toggleComics()">
        My Comics({{user.comics.length}}) <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
      </a>
    </div>
    <user-profile></user-profile>
    <user-comics></user-comics>
    <comic-search></comic-search>
  </div>
  <comics-index ng-show="!hasAdminRole"></comics-index>
  <div class="col-md-3" ng-show="!hasAdminRole">
    <ul class="nav nav-tabs" ng-controller="TabsController">
      <li ng-class="{active : isCurrentTab(0)}">
        <a href="" ng-click="setActiveTab(0)">Top Rated</a>
        <div class="panel" ng-show="isCurrentTab(0)">
          <comic-ratings></comic-ratings>
        </div>
      </li>
      <li ng-class="{active : isCurrentTab(1)}">
        <a href="" ng-click="setActiveTab(1)">Most Viewed</a>
        <div class="panel" ng-show="isCurrentTab(1)">
          <comic-views></comic-ratings>
        </div>
      </li>
    </ul>
  </div>
</div>
