<nav class="navbar navbar-default" id="session-data" ng-show="isSessionStarted()">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{user.username}}</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" ng-click="destroySession()">(log out)</a></li>
    </ul>
  </div>
</nav>
