<div class="row" ng-show="enableProfile">
    <div class="thumbnail">
      <div class="caption">
        <img src="http://www.gravatar.com/avatar/" />
        <h5>{{user.firstName}} {{user.lastName}}</h5>
        {{user.email}}
        <a href="#" ng-click="hideProfile()">(hide)</a>
      </div>
    </div>
</div>
