
#wrapper{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
#footer {
  background-color: rgb(189, 179, 176);
  font-style: italic;
  font-size: 16px;
  width: 100%;
}

#session-data{
  width: 100%;
  margin-bottom: 5px;
}

#banner {
  background-color: rgb(189, 179, 176);
}

#all-comics{
  width: 50%;
}

#comics-by-genre{
  width: 50%;
}

a {
  cursor:default;
}

.panel.panel-info.index-news {
  height: 400px;
  width: 100%;
}

.panel.sign-in {
  width: 100%;
}

.col-md-4.access-control {
  height: 400px;
}

.col-md-2.ratings {
  width: 100%;
}
/*forms validation*/
.ng-invalid.ng-dirty {
  border-color: rgb(198, 99, 125);

}
.ng-valid.ng-dirty {
  border-color: rgb(94, 215, 101);
}
